/*.shaka-volume-bar-container {
    height: 50px;
    width: 100px;
    border-radius: 0;
    height: 1rem;
    background-color: #6C6060;
}
.shaka-volume-bar-container > input[type=range].shaka-range-element {
    background-image: linear-gradient(to right, hsla(336, 78%, 56%, 1), hsla(0, 74%, 49%, 1));
}

.shaka-volume-bar-container > input[type=range].shaka-range-element::-webkit-slider-thumb {
    transition: all 0.2s ease-out;
    z-index: 2;
    border-radius: 0;
    box-shadow: 0 0 10px #000;
    background-color: #d92020;
    width: 0.7rem;
    height: 2.4rem;
}*/
